<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>

<!-- Yandex.Metrika counter -->
<script src="{{ '/assets/js/metrika.js' | relative_url }}" type="text/javascript"></script>
<noscript><div><img src="https://mc.yandex.ru/watch/47237412" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Matomo -->
<script src="{{ '/assets/js/matomo.js' | relative_url }}" type="text/javascript"></script>
<noscript><p><img src="//fyfywka.com/analytics/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->