<head>
    <meta charset="{{ site.encoding }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%- if site.keywords -%}
        <meta name="keywords" content="{{ site.keywords }}">
    {%- endif -%}

    {%- include head-stylesheet.html -%}
    {%- include footer-scripts.html -%}

    {%- seo -%}

    {%- assign favicon_exists = site.static_files | where: "path", "/favicon.png" | size -%}
    {%- if favicon_exists == 1 -%}
        <link rel="icon" href="{{ '/favicon.png' | relative_url }}" />
    {%- endif -%}
  
    {%- if page.head-extra -%}
      {%- for file in page.head-extra -%}
        {%- include {{ file }} -%}
      {%- endfor -%}
    {%- endif -%}

    <meta name="x-build-time" content="{{ site.time | date_to_rfc822 }}" />
</head>
