<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description | default: site.description | smartify }}">
    <meta name="author" content="{{ site.author.name }}">

    <title>
        {%- if page.title -%}
            {{ page.title | smartify }}
        {%- else -%}
            {{ site.title | smartify }}
        {%- endif -%}
    </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/2j42zxta.css?v1' | relative_url }}" type="text/css">

    {% include favicon.html %}

    {% include social.html %}

    <!-- Yandex.Metrika -->
    <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47237412 = new Ya.Metrika2({ id:47237412, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script><noscript><div><img src="https://mc.yandex.ru/watch/47237412" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <!-- Matomo -->
    <script src="{{ '/assets/js/matomo.js' | relative_url }}" type="text/javascript"></script><noscript><p><img src="//fyfywka.com/analytics/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117276892-2"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-117276892-2'); </script>
</head>
