{% if site.title %}
    <meta property="og:site_name" content="{{ site.title }}">
{% endif %}

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="{{ site.title }}" />

<meta property="og:image" content="{{ image | absolute_url }}">

{% if page.id %}
    <meta property="og:type" content="article">

    {% if author != "" %}
        <meta property="og:article:author" content="{{ author }}">
    {% endif %}

    <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
{% else %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
    <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
{% endif %}