---
---

@font-face {
    font-family: 'Tahoma';
    src: url('{{ '/assets/fonts/Tahoma.ttf' | relative_url }}');
}

@font-face {
    font-family: 'DS Quadro Black';
    src:
        url('{{ '/assets/fonts/dsqb.eot?' | relative_url }}') format('eot'),
        url('{{ '/assets/fonts/dsqb.woff' | relative_url }}') format('woff'),
        url('{{ '/assets/fonts/dsqb.ttf' | relative_url }}') format('truetype'),
        url('{{ '/assets/fonts/dsqb.svg#DSQuadro-Black' | relative_url }}') format('svg');
    font-weight: normal;
    font-style: normal;
}

.f14 {
    font-size: 14px;
}

.s20 {
    height: 20px;
    width: 20px;
}

.s32 {
    font-size: 13px;
    height: 32px;
    width: 32px;
}

.s50 {
    font-size: 20px;
    height: 50px;
    width: 50px;
}

.s100 {
    font-size: 50px;
    height: 100%;
    width: 100%;
}

a.link-a,
a.link-a:hover,
a.link-a:focus {
    text-decoration: none;
}

.btn-discord,
.btn-discord:hover {
    color: #fff;
    background-color: #7289DA;
    border-color: #7289DA;
}

.white-bg {
    background-color: #fff;
    background-image: linear-gradient(45deg,#f6f6f6 25%,transparent 0,transparent 75%,#f6f6f6 0,#f6f6f6), linear-gradient(45deg,#f6f6f6 25%,transparent 0,transparent 75%,#f6f6f6 0,#f6f6f6);
}

.black-bg {
    background-color: transparent;
    background-image: linear-gradient(45deg,#2e3033 25%,transparent 0,transparent 75%,#2e3033 0,#2e3033), linear-gradient(45deg,#2e3033 25%,transparent 0,transparent 75%,#2e3033 0,#2e3033);
}

.white-bg,
.black-bg {
    background-position: 0 0, 30px 30px;
    background-size: 20px 20px;
}

.bg {
    background-color: #c5f9d1;
}

.text-brand {
    font-family: 'DS Quadro Black';
    color: #4da6f8;
    font-size: 4rem;
    text-shadow:
        1px 1px 1px #1a222c,
        2px 2px 1px #1a222c,
        3px 3px 1px #1a222c,
        4px 4px 1px #1a222c,
        5px 5px 1px #1a222c,
        6px 6px 5px #1a222c;
}

.card-img {
    text-align: center;
}

.card-img img {
    width: auto;
    max-width: 100%;
}

.search-results {
    display: none;
}

pre {
    background-color: #f5f5f5;
    padding: 1rem;
}

.td-content h1,
.td-content h2,
.td-content h3,
.td-content h4,
.td-content h5,
.td-content h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.td-content>:first-child {
    margin-top: 0 !important;
}

