.navbar .container-fluid.container-sm {
    border-bottom: 1px solid #ccc;
    padding: .25rem;
}
.avatar {
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 200px;
}
.icon {
    border-radius: 50%;
}
.subtitle {
    color: #6c757d;
    font-weight: 300;
    margin: 2rem 1.5rem;
}
.is-4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.btn {
    margin: .5rem;
}
.btn svg {
    margin-right: .5rem;
}
.card-body .img-fluid {
    padding-bottom: 1.25rem;
}
.is-card:hover {
    text-decoration: none;
}
.is-card:hover .card-title span:first-child {
    text-decoration: underline;
}
blockquote {
    border-left: 3px solid #ccc;
    color: #6c757d;
}
blockquote p {
    margin-left: .75rem;
    margin-bottom: 0;
}
.highlight > pre {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}
.highlight > pre {
    padding: 8px 12px;
    overflow-x: auto;
}
.highlight > pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px) {
    .navbar-expand .navbar-nav .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (min-width: 1200px) {
    .h-md-100 {
        height: 100% !important;
    }
}