---
layout: container
---

<div class="grid place-items-center text-center">
    {% for file in site.static_files %}
        {% assign path = 'assets/' | append: page.slug | append: '/icon' %}
        {% if file.path contains path %}
            <img class="mask mask-squircle w-64" src="{{ file.path }}" alt="{{ page.title }}" />
        {% endif %}
    {% endfor %}

    <h1 class="text-3xl font-bold mt-6">{{ page.title }}</h1>
    <h2 class="my-3 opacity-50">{{ page.subtitle }}</h2>

    {% if page.large_button %}
        <a class="btn btn-outline btn-primary btn-lg my-3" href="{{ page.large_button.url }}">
            {{ page.large_button.name }}
        </a>
    {% endif %}

    <nav class="flex flex-col gap-2 my-3">
        {% if page.repo %}
            <a class="link-primary" href="{{ page.repo }}">
                Source on GitHub
            </a>
        {% endif %}
        
        {% assign title = page.title | url_encode %}
        <a class="link-primary" href="{{ site.social-network.email | prepend: 'mailto:' | uri_escape | append: '?subject=' | append: title }}">
            Support
        </a>

        {% if page.links %}
            <div class="flex flex-row flex-wrap justify-center gap-6">
                {% for link in page.links %}
                    <a class="link-primary font-bold" href="{{ link[1] }}">
                        {{ link[0] }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </nav>
</div>

<article class="prose dark:prose-invert prose-a:text-indigo-500 prose-a:no-underline min-w-full">
    {% if page.description %}
        <p class="text-center text-xl">{{ page.description }}</p>
    {% endif %}

    {{ content }}
</article>

<div class="flex justify-center">
    <div class="carousel carousel-center bg-base-300 rounded-box h-[512px] space-x-4 p-4 my-4">
        {% for file in site.static_files %}
            {% assign path = 'assets/' | append: page.slug | append: '/picture' %}
            {% if file.path contains path %}
                <div class="carousel-item">
                    <img class="rounded-box" src="{{ file.path }}" />
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script
    async
    src="https://comments.app/js/widget.js?3"
    data-comments-app-website="{{ site.comments_site_id }}"
    data-limit="10"
    data-page-id="{{ page.url }}"
    data-dislikes="1"
></script>

<div class="mt-5"></div>
