---
layout: default
---

<div class="row justify-content-center">
    <div class="col-md-8 mt-5">
        <div class="text-center">
            {% for file in site.static_files %}
                {% assign path = 'assets/' | append: page.slug | append: '/icon' %}
                {% if file.path contains path %}
            <img class="img-fluid" src="{{ file.path }}" width="256">
                {% endif %}
            {% endfor %}
            <h1 class="mt-4">{{ page.title }}</h1>
            <p class="subtitle is-4 mb-3">{{ page.subtitle }}</p>
            {% if page.large_button %}
            <a href="{{ page.large_button.url }}" class="btn btn-outline-dark btn-lg">{{ page.large_button.name }}</a>
            {% endif %}
            <nav class="nav flex-column">
                {% if page.repo %}
                <a class="nav-link" href="{{ page.repo }}">Source on GitHub</a>
                {% endif %}
                <a class="nav-link" href="http://localhost:4000/feedback?project={{ page.title | url_encode }}">Support</a>
                {% for link in page.links %}
                <a class="nav-link" href="{{ link[1] }}">{{ link[0] }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="my-5">
            {{ content }}
        </div>
        <div class="mb-4">
            {% for file in site.static_files %}
                {% assign path = 'assets/' | append: page.slug | append: '/picture' %}
                {% if file.path contains path %}
            <img class="img-thumbnail my-2" src="{{ file.path }}">
                {% endif %}
            {% endfor %}
        </div>
        <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="2g9joENn" data-limit="10" data-page-id="{{ page.url }}" data-dislikes="1"></script>
    </div>
</div>